@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background:#081932;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3be8c6; 
    border-radius: 10px;
  }
 
@tailwind base;
@tailwind components;
@tailwind utilities;
